<!-- Grâce à l'identifiant #form ci dessous je peux connaitre l'état de mon formulaire -->
<form #form="ngForm" (ngSubmit)="addContact()" *ngIf="active">

  <div class="form-group"
       [class.has-error]="name.invalid && name.touched">
    <input type="text" name="name" required class="form-control"
    placeholder="Saisissez votre Nom Prénom" [(ngModel)]="nouveauContact.name" #name="ngModel">
    <span class="help-block"
          *ngIf="name.invalid && name.touched">
      Veuillez saisir votre nom complet.</span>

  </div>
  <div class="form-group"
       [class.has-error]="username.invalid && username.touched">
    <input type="email" name="username" required class="form-control"
    placeholder="Saisissez votre Pseudo" [(ngModel)]="nouveauContact.username" #username="ngModel">
    <span class="help-block"
          *ngIf="username.invalid && username.touched">
      Veuillez saisir un pseudo.</span>
  </div>
  <div class="form-group"
       [class.has-error]="email.invalid && email.touched">
    <input type="text" name="email" required class="form-control"
    placeholder="Saisissez votre email..." [(ngModel)]="nouveauContact.email" #email="ngModel">
    <span class="help-block"
          *ngIf="email.invalid && email.touched">
      Adresse email non valide.</span>
  </div>

  <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">
    Ajouter le contact

  </button>

</form>
